{% extends 'back/master.html' %}

{% load static %}

{% block mainblock %}

<!-- Forms General Header -->
<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="gi gi-notes_2"></i>News List<br><small>You can add, edit or delete news.</small>
        </h1>
    </div>
</div>
<ul class="breadcrumb breadcrumb-top">
    <li><a href='/panel/'>News</a></li>
    <li><a href="/panel/news/list/">List</a></li>
</ul>
<!-- END Forms General Header -->

 <!-- Datatables Content -->
 <div class="block full">
    <div class="block-title">
        <h2><strong>News</strong> List</h2>
    </div>
    
    <div class="table-responsive">
        <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
            <thead>

                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Image</th>
                    <th class="text-center">Title</th>
                    <th class="text-center">Date</th>
                    <th class="text-center">Category</th>
                    <th class="text-center">Writer</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Views</th>
                    <th class="text-center">Actions</th>
                </tr>
                
            </thead>
            <tbody>
                {% for n in news %}
                <tr>
                    <td class="text-center">{{n.pk}}</td>
                    <td class="text-center"><img style="display: inline-block; width: 50px; height: 50px;" src="{{n.picurl}}" alt="avatar" class="img-circle"></td>
                    <td>{{n.name}}</td>
                    <td>{{n.date}} | {{n.time}}</td>
                    <td>{{n.catname}}</td>
                    <td>{{n.writer}}</td>
                    {% if n.act == 0 %}
                    <td class="text-center"><div class="p-3 mb-2 bg-danger text-white">Pending</div></td>
                    {% elif n.act == 1 %}
                    <td class="text-center"><div class="p-3 mb-2 bg-success text-white">Confirmed</div></td>
                    {% endif %}
                    <td>{{n.show}}</td>
                    <td class="text-center">
                        <div class="btn-group">
                            <a href="{% url 'news_edit' pk=n.pk %}" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i>Edit</a>
                            <a href="{% url 'news_delete' pk=n.pk %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i>Delete</a>
                            {% if perms.main.masteruser %}
                            {% if n.act == 0 %}
                            <a href="{% url 'news_publish' pk=n.pk %}" data-toggle="tooltip" title="Publish" class="btn btn-xs btn-success"><i class="fa fa-pencil"></i>Publish</a>
                            {% elif n.act == 1 %}
                            <a href="{% url 'news_unpublish' pk=n.pk %}" data-toggle="tooltip" title="Unpublish" class="btn btn-xs btn-info"><i class="fa fa-pencil"></i>Suspend</a>
                            {% endif %}
                            {% endif %}

                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- END Datatables Content -->

{% endblock %}

{% block footerblock %}

<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
<script>$(function(){ TablesDatatables.init(); });</script>

{% endblock %}